@font-face {
  font-family: 'NotoSerif';
  src: url('../fonts/NotoSerif.eot');
  src: url('../fonts/NotoSerif.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NotoSerif.woff2') format('woff2'),
  url('../fonts/NotoSerif.woff') format('woff'),
  url('../fonts/NotoSerif.ttf') format('truetype'),
  url('../fonts/NotoSerif.svg#NotoSerif') format('svg');
}

@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/NotoSans.eot');
  src: url('../fonts/NotoSans.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NotoSans.woff2') format('woff2'),
  url('../fonts/NotoSans.woff') format('woff'),
  url('../fonts/NotoSans.ttf') format('truetype'),
  url('../fonts/NotoSans.svg#NotoSerif') format('svg');
}
@font-face {
  font-family: 'NotoKufiArabic';
  src: url('../fonts/NotoKufiArabic.eot');
  src: url('../fonts/NotoKufiArabic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NotoKufiArabic.woff2') format('woff2'),
  url('../fonts/NotoKufiArabic.woff') format('woff'),
  url('../fonts/NotoKufiArabic.ttf') format('truetype'),
  url('../fonts/NotoKufiArabic.svg#NotoSerif') format('svg');
}